@model List<Teacher>

<div class="left-panel">
    <div class="menu">
        <div class="menu-item">
            <div class="menu-item-front">
                <div class="menu-item-header">
                    <h4>Тюгашева Василиса Александровна</h4>
                    <img class="avatar" src="/images/YaroslavAvatar.png" alt="Аватар Ярослава" />
                </div>
            </div>
            <div class="menu-item-back"/>
        </div>
         <div class="menu-item">
            <div class="menu-item-front">
                <div class="menu-item-header">
                    <h4>Тюгашева Василиса Александровна</h4>
                    <img class="avatar" src="/images/YaroslavAvatar.png" alt="Аватар Ярослава" />
                </div>
            </div>
            <div class="menu-item-back"/>
        </div>
    </dif>
</div>
<div class="right-panel">
    <div class="main">

    </div>
</div>