@model List<Teacher>

 <div class="main-front">
                <div class="main-header" id="main-header">
                    <h3>@Model[0].Projects[0].Description</h3>
                </div>
                <div class="main-body">
                    <img src="@Model[0].ImagePath"/>
                </div>
                <div class="main-footer">
                    <button class="switch-project-right button">Вперед</button>
                    <button class="switch-project-left button">Назад</button>
                </div>

            </div>
</div>
