@{
    ViewData["Title"] = "Home Page";
}

@for (int i = 0; i < 3; i++)
{
    <section>
        <div class="section-header">
            <h2>Системное программирование</h2>
        </div>
        <div class="section-content">
            <div class="menu-panel">
                <h3 class="menu-panel-title">Практические</h3>
                <ul class="menu-panel-items">
                    @for (int j = 0; j < 4; j++)
                    {
                        <li class="menu-panel-item">
                            <button class="menu-panel-button">Практические</button>
                        </li>
                    }
                </ul>
            </div>
            <div class="description-panel">
                <h3 class="description-panel-title">Описание</h3>
                <p class="description-panel-text">
                    Дано целое число N и набор из N прямоугольников, заданных своими сторонами — парами чисел (a, b). Найти
                    минимальную площадь прямоугольника из данного набора.
                </p>
                <button class="description-panel-button-execute">Перейти к решению</button>
            </div>
        </div>
    </section>
}

<section class="section-solution">
    <div class="section-header">
        <h2>Решение</h2>
    </div>
    <div class="solution-calculator section-content">
        <div class="input-section data-section">
            <h3 class="input-section-title">Введите данные</h3>
            <form method="post">
                <div class="input-group">
                    <label for="side-a">Сторона A:</label><br>
                    <input id="side-a" class="input-field" type="text" />
                </div>
                <div class="input-group">
                    <label for="side-b">Сторона B:</label><br>
                    <input id="side-b" class="input-field" type="text" />
                </div>
                <div class="input-group">
                    <label for="side-c">Сторона C:</label><br>
                    <input id="side-c" class="input-field" type="text" />
                </div>
                <button class="submit-button">Показать результат</button>
            </form>
        </div>
        <div class="output-section data-section">
            <h3 class="output-section-title">Свойства треугольника</h3>
            <div class="output-section-main">
                <div class="output-group">
                    <label for="area">Площадь:</label>
                    <div id="area" class="output-value">
                        <p>349</p>
                    </div>
                </div>
                <div class="output-group">
                    <label for="perimeter">Периметр:</label>
                    <div id="perimeter" class="output-value">
                        <p>349</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section-solution">
    <div class="section-header">
        <h2>Решение</h2>
    </div>
    <div class="solution-calculator section-content">
        <div class="input-section data-section">
            <h3 class="input-section-title">Введите данные</h3>
            <form method="post">
                <div class="input-group">
                    <label for="side-c">Количество прямоуголников:</label><br>
                    <input id="side-c" class="input-field" type="text" />
                </div>
                <button class="submit-button">Показать результат</button>
            </form>
        </div>
        <div class="output-section data-section">
            <h3 class="output-section-title">Свойства треугольника</h3>
            <div class="output-section-main">
                <form method="post">
                    <div class="scrollbar">
                        @for (int i = 0; i < 4; i++)
                        {
                            <fieldset>
                                <legend>Прямоугольника @(i + 1)</legend>
                                <div class="input-group ">
                                    <label for="side-a">Сторона A:</label><br>
                                    <input id="side-a" class="input-field" type="text" />
                                </div>
                                <div class="input-group">
                                    <label for="side-b">Сторона B:</label><br>
                                    <input id="side-b" class="input-field" type="text" />
                                </div>
                            </fieldset>
                        }
                    </div>
                        <button class="submit-button">Показать результат</button>
                </form>
            </div>
        </div>
    </div>
</section>