@model List<Teacher>

<div class="container">
    <div class="left-panel">
        <div class="menu">
            @for(int i = 0; i < Model.Count; i++)
            {
                <div class="menu-item">
                    <div class="menu-item-front">
                        <div class="menu-item-header">
                            <h3>@Model[i].Name</h3>
                            <img class="menu-item-header-avatar" src=@Model[i].ImagePath alt="Аватар Ярослава" />
                        </div>
                        <div class="menu-item-body">
                            @foreach(var project in Model[i].Projects) {
                                <button class="project-button" data-project-name="@project.Name">@project.Name</button>
                            }
                        </div>
                    </div>
                    <div class="menu-item-back"></div> <!-- Исправлено закрытие тега -->
                </div>
            }
        </div> <!-- Закрывающий тег для .menu -->
    </div>
    <div class="right-panel">
        <div class="main">
        <div class="main-front">
            <div class="main-header" id="main-header">
                    <!-- Имя выбранного проекта будет здесь -->
            </div>
            <div class="main-body">

            </div>
        </div>
        <div class="main-back">
        
        </div>
            <!-- Основное содержимое правой панели -->
        </div>
    </div>
</div>
