@{
    ViewData["Title"] = "Home Page";
}

@for (int i = 0; i < 3; i++)
{
    <section class="info">
        <div class="info_header section_header">
            <h2>Системное программирование</h2>
        </div>
        <div class="info_main section-main">
            <div class="info-main_menu">
                <div class="info-main-menu_title info-title">
                    <h3>Практические</h3>
                </div>
                <div class="info-main-menu_main">
                    <div class="info-menu-main_scrollbar scrollbar">
                        @for (int j = 0; j < 6; j++)
                        {
                            <button class="info-main-scrollbar_btnPractical">Практические</button>
                        }
                    </div>
                </div>
            </div>
            <div class="info-main_description">
                <div class="info-main-description_title info-title">
                    <h3>Описание</h3>
                </div>
                <div class="info-description_main">
                    <p>
                        Дано целое число N и набор из N прямоугольников, заданных своими сторонами — парами чисел (a, b).
                        Найти
                        минимальную площадь прямоугольника из данного набора.
                    </p>
                </div>
                <div class="info-description_footer">
                    <button class="info-description-footer_btnSolution button">Перейти к решению</button>
                </div>
            </div>
        </div>
    </section>
}

<section class="solution">
    <div class="solution_header section_header">
        <h2>Решение</h2>
    </div>
    <div class="solution_main section-main">
        <div class="solution-main_input solution-main_block">
            <div class="solution-main-input_title">
                <h3>Введите данные</h3>
            </div>
            <form method="post">
                <div class="solution-input-form_main">
                    <div class="solution-form-main_sideA input-block">
                        <label>Сторона A:</label><br>
                        <input class="solution-main-sideA_input input-field" type="text" />
                    </div>
                    <div class="solution-form-main_sideB input-block">
                        <label>Сторона B:</label><br>
                        <input class="solution-main-sideB_input input-field" type="text" />
                    </div>
                    <div class="solution-form-main_sideC input-block">
                        <label>Сторона C:</label><br>
                        <input class="solution-main-sideC_input input-field" type="text" />
                    </div>
                </div>
                <div class="solution-input-form_footer">
                    <button class="solution-form-footer_btnSubmit button">Показать результат</button>
                </div>
            </form>
        </div>
        <div class="solution-main_output solution-main_block">
            <div class="solution-main-output_title">
                <h3>Свойства треугольника</h3>
            </div>
            <div class="solution-output_main">
                <div class="solution-output-main_area output-block">
                    <label>Площадь:</label>
                    <div class="solution-main-area_value output-value">
                        <p>99999</p>
                    </div>
                </div>
                <div class="solution-output-main_perimeter output-block">
                    <label>Периметр:</label>
                    <div class="solution-main-perimeter_value">
                        <p>11111</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="solution">
    <div class="solutin_header section_header">
        <h2>Решение</h2>
    </div>
    <div class="solution-main section-main">
        <div class="solution-main_input solution-main_block">
            <div class="solution-main-input_title">
                <h3>Введите данные</h3>
            </div>
            <form method="post">
                <div class="solution-input-form_main">
                    <div class="solution-form-main_numRectangles input-block">
                        <label for="num-rectangles">Количество прямоуголников:</label><br>
                        <input id="num-rectangles" class="solution-main-numRectangles_input input-field" type="text" />
                    </div>
                </div>
                <div class="solution-input-form_footer">
                    <button class="solution-form-footer_btnSubmit button">Показать результат</button>
                </div>
            </form>
        </div>
        <div class="solution-main_output solution-main_block">
            <div class="solution-main-output_title">
                <h3>Минимальная площадь прямоугольника</h3>
            </div>
            <form method="post">
                <div class="solution-output_main">
                    <div class="solution-form-main_scrollbar scrollbar">
                        @for (int i = 0; i < 4; i++)
                        {
                            <fieldset>
                                <legend>Прямоугольник @(i + 1)</legend>
                                <div class="solution-main-scrollbar_sideA input-block">
                                    <label>Сторона A:</label><br>
                                    <input class="solution-main-scrollbar_sideA input-field" type="text" />
                                </div>
                                <div class="solution-main-scrollbar_sideB input-block">
                                    <label>Сторона B:</label><br>
                                    <input class="solution-main-scrollbar_sideB input-field" type="text" />
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
                <div class="solution-output-form_footer">
                    <button class="solution-form-footer_btnSubmit button">Показать результат</button>
                </div>
            </form>
        </div>
    </div>
</section>