body {
  background: linear-gradient(90deg, rgba(23,35,62,1) 14%, rgba(60,108,186,1) 49%, rgba(208,211,216,1) 82%);
}



.avatar-container {
  position: relative;
  display: flex;
  align-items: center;
}

.avatar {
  width: 80px; /* Размер фотографии */
  height: 80px;
  border-radius: 50%; /* Круглая форма */
  margin-right: -30px; /* Сдвигаем, чтобы немного перекрывать полоску */
  z-index: 1;
}

.text-stripe {
  background-color: white;
  padding: 10px 50px;
  border-radius: 25px; /* Закругленные края полоски */
  border: 2px black solid;
  display: flex;
  align-items: center;
}

.text-stripe h1 {
  margin: 0;
  font-size: 1.2em;
  white-space: nowrap;
}