/* Общий контейнер для левой и правой панели */
.container {
    display: flex;
    align-items: center; /* Выравнивает по верхнему краю */
    justify-content: center;
    
}

/* Общие стили для меню */
.menu {
    display: block;
    margin: 40px;
}

.menu-item {
    position: relative;
    margin-top: 60px; 
}

/* Передний элемент меню */
.menu-item-front {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid black;
    position: relative;
    z-index: 1;
}

/* Задний элемент меню */
.menu-item-back {
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid black;
    margin: -330px 0 0 40px;
    position: relative;
    z-index: 0;
}

/* Заголовок элемента меню */
.menu-item-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px black solid;
    border-radius: 20px;
}

/* Текст в заголовке */
.menu-item-header h3 {
    white-space: normal; 
    overflow-wrap: break-word; 
    width: 150px;
}

/* Тело элемента меню */
.menu-item-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* Кнопка внутри тела меню */
.menu-item-body button {
    margin: 10px;
    border-radius: 0px 20px 20px 0px;
    padding: 10px;
    font-size: 15px;
    width: 50%;
    color: white;
    background: linear-gradient(90deg, rgba(23,35,62,1) 40%, rgba(60,108,186,1) 60%);
    transition: transform 0.5s ease-out; /* Плавный эффект при наведении */
}

/* Эффект наведения на кнопку */
.menu-item-body button:hover {
    transform: translateX(30px); /* Сдвиг вправо */
}

/* Основной контент правой панели */
.main-front {
    background-color: white;
    border-radius: 10px;
    width: 700px;
    height: 700px;
    margin: 40px;
}

.main-back {
    background-color: white;
    border-radius: 10px;
    width: 700px;
    height: 700px;
    margin: 40px;
    margin: -330px 0 0 40px;
}